<% layout("layouts/boilerplate") %>
  <div class="card mb-3" style="max-width: 760px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="<%= campground.image %>" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title fst-italic mb-3">
                        <%=campground.title %>
                    </h1>

                    <p class="card-text">
                        <%=campground.description %>
                    </p>
                    <p class="card-text"><small class="text-muted">
                            <%=campground.location %>
                        </small></p>
                </div>
            </div>
        </div>
    </div>
    <form action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
        <button class="btn btn-success mb-4">DELETE</button>
    </form>
    </div>
    <footer>
        <a class="btn btn-outline-success ms-6" href="/campgrounds/<%=campground._id %>/edit">Edit</a>
        <a class="btn btn-outline-success ms-5" href="/campgrounds">All Campgrounds</a>
    </footer>
    </div>
    </div>